build/*dbg*
**/*.cmd
**/*.o
**/*.mod*
**/*.ko
**/*.symvers
**/*.order
**/*.out
**/test
/.vscode/**
/.buildcontainer
/.toolchain
tmp.qcow2
guest.qcow2*
tmp
container/99_config.yaml
host/
build/
VMPLkernel6.5.tar.gz
.ccls-cache/
module/libsysdb.so
module/libpal.so
report_generation_measurements*
