[submodule "edk2"]
	path = edk2
	url = https://github.com/coconut-svsm/edk2.git
	branch = svsm
[submodule "linux"]
	path = linux
	url = https://github.com/Sabanic-P/linux.git
	branch = svsm-vmpl-guest
[submodule "svsm"]
	path = svsm
	url = https://github.com/TUM-DSE/svsm.git
[submodule "client/snphost"]
	path = client/snphost
	url = https://github.com/virtee/snphost.git
[submodule "client/snpguest"]
	path = client/snpguest
	url = https://github.com/virtee/snpguest.git
[submodule "gramine-svsm"]
	path = gramine-svsm
	url = https://github.com/TUM-DSE/gramine-svsm.git
[submodule "Benchmarks/SeBS"]
	path = Benchmarks/SeBS
	url = https://github.com/TUM-DSE/Wallet-SeBS.git
[submodule "python/portable-python-cmake-buildsystem"]
	path = runtime/portable-python-cmake-buildsystem
	url = https://github.com/bjia56/portable-python-cmake-buildsystem.git
[submodule "Benchmarks/CVM_eval"]
	path = Benchmarks/CVM_eval
	url = git@github.com:TUM-DSE/CVM_eval.git
[submodule "AzureTraces/invitro"]
	path = AzureTraces/invitro
	url = https://github.com/dimstav23/invitro.git
