build/*dbg*
**/*.cmd
**/*.o
**/*.mod*
**/*.ko
**/*.symvers
**/*.order
**/*.out
**/test
/.vscode/**
/.buildcontainer
/.toolchain
tmp.qcow2
guest.qcow2*
tmp
container/99_config.yaml
host/
build/
VMPLkernel6.5.tar.gz
.ccls-cache/
module/libsysdb.so
module/libpal.so
module/*.txt
Benchmarks/Boottime/wallet/run
Benchmarks/Boottime/wallet/res
Benchmarks/Boottime/wallet/outb
Benchmarks/Boottime/wallet/*.so
Benchmarks/Boottime/wallet/*.pdf
Benchmarks/Boottime/wallet/*.png
Benchmarks/Boottime/wallet/*.csv
Benchmarks/Boottime/wallet/result/*
runtime/filesystem/**/fs/
runtime/filesystem/**/fs_out/
runtime/requirements.txt
runtime/pip/
runtime/python*
report_generation_measurements*
*.so
