[libos]
entrypoint = "/python/python"

[loader]
entrypoint = "file:/gramine/python-libs/lib/x86_64-linux-gnu/gramine/libsysdb.so"
log_level = "debug"
insecure__disable_aslr = true
argv = ["python3", "-c", """
import ctypes
import pickle
from ctypes import CDLL
lib = CDLL("/lib/libcpuid.so")
lib.finalize_zygote()
lib.notify_monitor()
a = ctypes.string_at(0x140_0000_0000)
# a = (ctypes.c_char * 1048576).from_address(0x140_0000_0000) # 1 MiB # doesnt work
exec(a)
while True:
  b = (ctypes.c_char * 104857600).from_address(0x280_0000_0000) # 100 MiB
  input = pickle.loads(b)
  out = handler(input)
  lib.notify_monitor()
  out = pickle.dumps(out)
  ptr = ctypes.POINTER(ctypes.c_char*len(out))
  dst = ctypes.cast(0x300_0000_0000, ptr)
  ctypes.memmove(dst, out, len(out))
  lib.notify_monitor()
  lib.notify_monitor()
"""]

[loader.env]
LD_LIBRARY_PATH = "/lib"
MINIO_ADDRESS = { value = "{{ minio_address }}" }
MINIO_ACCESS_KEY = { value = "{{ minio_access_key }}" }
MINIO_SECRET_KEY = { value = "{{ minio_secret_key }}" }
PYTHONPATH = "/python/stdlib.zip:/dependencies"
OMP_NUM_THREADS = "1"

[fs]
root.type = "tmpfs"
mounts = [
  { type = "pseudo", path = "/lib", uri = "lib" },
  { type = "pseudo", path = "/python", uri = "python" },
  { type = "pseudo", path = "/dependencies", uri = "dependencies" },
]
